# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Electron build output (if using electron-builder or electron-packager)
dist/
out/

# User config and secrets
.env
settings.json

# OS junk
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Logs and temporary
*.log
temp/
*.tmp

# GTFS cache
gtfs_static/*
